.title{
  display: none;
}

.photos{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.flex-container img{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Create four equal columns that sits next to each other */
.left-column {
  flex: 48.5%;
  padding-right: 10px;
}

.left-column img {
  margin-bottom: 20px;
  vertical-align: middle;
}

.right-column {
  flex: 48.5%;
  padding-left: 10px;
}

.right-column img {
  margin-bottom: 20px;
  vertical-align: middle;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .left-column {
    flex: 100%;
    max-width: 100%;
  }
  .right-column{
    flex: 100%;
    max-width: 100%;
  }
}


/*HOMEPAGE*/

@media screen and (min-width: 1000px) {

  .LOGO-container-res{
    display: none;
  }

  #menuToggle {
    display: none;
  }

  #menuToggleI {
    display: none;
  }

}

@media screen and (max-width: 1000px) {
  #first{
    margin-top: 300px;
  }

.title{
  display: block;
  font-family: 'Goudy_OldStyle';
  font-size: 4.74em;
  font-weight: bold;
  font-style: italic;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.player p{
  margin-top: 30px;
  font-size: 2em;
}

#MMindex{
  display: block;
  height: 50px;
}

#name{
  display: none;
}

#aboutCat{
  display: block;
}

.menu-container{
  display: none;
}

.flex-container {
  margin:  auto;
  width: 90%;
}

.row{
  margin-top: 50px;
  margin-bottom: 50px;
}

.main {
  display: block;
  align-items: center;
  justify-content: center;
}

.LOGO-container-res{
  display: flex;
  margin: auto;
  min-width: 300px;
}

.logo{
  justify-content: center;
  align-content: center;
}

.short{
  display: none;
}

/*BURGER ____________________________________________ */

#nav{
  margin: auto;
  width: 100%;
  height: 100%;
  position: absolute;
}


#menuToggle{
  display: block;
  position: relative;
  height: 100%;
  margin: auto;
  z-index: 1;
  width: 90%;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggleI{
  display: block;
  position: relative;
  height: 100%;
  margin: 6% auto;
  width: 90%;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggleI a{
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

#menuToggleI input{
  display: block;
  width: 45px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 0;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 4; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

.nav-spanI span{
  display: block;
  height: 4px;
  margin-bottom: 10px;
  position: relative;
  width: 45px;
  background: rgb(255, 255, 255);
  border-radius: 1px;
  z-index: 3;
  transform-origin: bottom right;
  float: right;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.nav-spanI{
  position: absolute;
  top: 10px;
  right: 0;
  width: 45px;
  height: 35px;
}

#menuToggleI input:checked ~ .nav-spanI span:nth-child(1){
  opacity: 1;
  background: rgb(255, 255, 255);
  transform: rotate(-45deg) translate(1px, 0px);
  width: 41px;
}

#menuToggleI input:checked ~ .nav-spanI span:nth-child(2){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggleI input:checked ~ .nav-spanI span:nth-child(3){
  transform: rotate(45deg) translate(-1px, 2px);
  width: 41px;
  background: rgb(255, 255, 255);
}

#menuI{
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 25px;
  top: 0;
  left: 0;
  background: #ABABAB;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  text-align: center;
  z-index: 2;
  transform-origin: 0% 0%;
  transform: translate(0, -110%);
  transition: transform 0.9s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuI ul{
  margin-top: 120px;
}

#menuToggleI input:checked ~ ul {
  transform: none;
}

#MMMenuI{
  height: 75px;
  position: relative;
  z-index: 2;
}

#MMMenuToggleI{
  height: 75px;
  position: absolute;
  left: 25px;
}

#menuI li{
  font-family: 'Goudy_OldStyle';
  font-weight: bold;
  font-style: italic;
  color: #FFF;
  padding: 10px 0;
  font-size: 2em;
}

#menuToggle a{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover{
  color: black;
}

#menuToggle input {
  display: block;
  width: 105px;
  height: 75px;
  position: absolute;
  top: 25px;
  right: 0;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle input:checked{
  position: fixed;
  right: 50px;
  top: 80px;
}

#menuToggle input:checked ~ .nav-span{
  position: fixed;
  z-index: 1;
  right: 50px;
  top: 80px;
}


.RS {
  font-size: .8em;
}

#menu a {
  color: #FFF;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

#MMMenu {
  height: 150px;
}

#MMMenuToggle{
  height: 150px;
  position: absolute;
  left: 50px;
}

.shortA{
  font-size: 13px;
  color: #ffffff;
  font-family: 'Goudy_OldStyle';
  z-index: 1;
  position: absolute;
  top: 30%;
  line-height: 40px;
  display: flex;
  width: 100%;
  padding: 35px;
  justify-content: center;
  letter-spacing: normal;
}

#titleA{
  color: #FFF;
  font-size: 2em;
  position: absolute;
  top: 25%;
  width: 100%;
  text-align:center;
}